@media(min-width:533px) and (orientation: landscape) {
    .header {
        grid-template-rows: 1fr 5fr 3fr;
        font-size: 1.2rem;
    }

    .footer__column__followUs ul li {
        font-size: 1.4rem;
    }

}

@media (min-width:600px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: repeat(4, 20%);
        text-align: center;
        background-color: #2f3539;
        color: #fff;

        &__footer {
            margin: 4%;
            grid-column: span 4;
        }
    }
}

@media (min-width:768px) {
    html {
        font-size: 16px;
    }

    .services {
        display: grid;
        grid-gap: 5%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "header header header";

        &__h1 {
            grid-area: header;
        }
    }

    .subscribe {

        &__input,
        &__btn {
            width: 50%;
            display: inline-block;
            margin: 3%;
            font-size: 1.4rem;
        }

        &__btn {
            width: 30%;
        }

    }

}

@media (min-width:1024px) {
    html {
        font-size: 17px;
    }
}