@media(min-width:533px) and (orientation: landscape) {
    .header {
        grid-template-rows: 1fr 5fr 3fr;
        font-size: 1.2rem;
    }
}

@media (min-width:768px) {
    html {
        font-size: 16px;
    }

    .services {
        display: grid;
        grid-gap: 5%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "header header header";

        &__h1 {
            grid-area: header;
        }
    }

    .subscribe {

        &__input,
        &__btn {
            width: 50%;
            display: inline-block;
            margin: 3%;
            font-size: 1.4rem;
        }

        &__btn {
            width: 30%;
        }

    }

}

@media (min-width:1024px) {
    html {
        font-size: 24px;
    }
}